<div class='container'>
<h2 class='section-title'>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="field">
<%= f.label :name %>
<%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'new-user' %>
</div>
<div class="field">
<%= f.label :email %><br />
<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'new-user' %>
</div>
<div class="field">
<%= f.label :password %>
<% if @minimum_password_length %>
<em>(<%= @minimum_password_length %> characters minimum)</em>
<% end %><br />
<%= f.password_field :password, autocomplete: "new-password", class: 'new-user' %>
</div>
<div class="field">
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'new-user' %>
</div>
<div class="field">
<%= f.label :role %>
<%= f.text_field :role, autofocus: true, autocomplete: "admin", class: 'new-user', placeholder:"write admin or user" %>
</div>

<div class="actions">
<%= f.submit "Sign up", class: 'submit-post' %>
</div>
<% end %>
<div class='render'>
<%= render "devise/shared/links" %>
</div>
</div>
