<div>
  <img class='photo' style ="width: 60px" src="<%= @user.photo %>">
<div>
<h1 class='name'><%= @user.name %></h1>
<p class='post-count'>Number posts: <%= @user.postCounter %> </p>
</div>
</div>
<h2> Bio </h2>
<p class='bio'> <%= @user.bio %> </p>
<br/>
<br/>
<h2> Posts </h2>
<ul>
<% @user.last_three_posts.each do |post|%>
    <%= link_to post_path(@user.id, post.id) do%>
       <li>
        <h3><%= post.title %></h3>
        <p><%= post.text %></p>
        <div>
        <p>Comments: <%= post.commentsCounter %></p>
        <p>Likes: <%= post.likesCounter %></p>
        </div>
    </li>
    <% end %>
  <% end %>
</ul>
<br/>
<br/>
<br/>

<button>
  <%= link_to 'All posts', user_posts_path(@user.id) %>
</button>

<br/>
<br/>
<br/>
<br/>

