<h2> Posts </h2>
<div>
  <img class='photo' style ="width: 60px" src="<%= @user.photo %>">
<div>
<h3 class='name'><%= @user.name %></h3>
<p class='post-count'>Number posts: <%= @user.postCounter %> </p>
</div>
</div>
<ul>
<% @post.each do |post|%>
     <li>
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <div>
      <p>Comments: <%= post.commentsCounter %></p>
      <p>Likes: <%= post.likesCounter %></p>
      </div>

      <% post.five_most_recent_comments.each do |comment|%>
        <% if comment.postId == post.id %>
          <p> <%= comment.text %> </p>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<br/>
<br/>
<br/>
