<div class='container' >
  <h2 class='section-title'> Posts </h2>
  <div class='user-container'>
    <img class='user-image' src="<%= @user.photo %>">
    <div class='user-data'>
      <h3 class='name'><%= @user.name %></h3>
      <p class='post-count'>Number posts: <%= @user.postCounter %> </p>
    </div>
  </div>
  <ul class='post-list'>
    <% @post.each do |post|%>
      <%= link_to post_path(@user.id, post.id) do%>
           <li class='post'>
             <h3><%= post.title %></h3>
             <p><%= post.text %></p>

             <div class='comment-like'>
              <p>💬 <%= post.commentsCounter %></p>
              <p>❤ <%= post.likesCounter %></p>
             </div>

           </li>
           <div class='comment-box'>
             <% post.five_most_recent_comments.includes ([:author]).each do |comment|%>
                <% if comment.postId == post.id %>
                  <div class='comment'>
                    <h3><%= comment.author.name %>:</h3>
                    <p><%= comment.text %></p>
                  </div>
                <% end %>
             <% end %>
           </div>
      <% end %>
  <% end %>
</ul>
<%= link_to user_post_new_path, class:'button' do%>
  <button class='button'> New Post </button>
<% end %>
</div>
